Flask==2.2.3
easyocr==1.6.2
langdetect==1.0.9
googletrans==4.0.0-rc1
pytesseract==0.3.10
opencv-python-headless==4.8.0.74
Pillow==9.4.0
pyocr==0.8
sqlite3==2.6.0  # SQLite3 is built into Python but included for compatibility.